<template>
  <div style="overflow: hidden; border-radius: 20px;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d969.2757743140191!2d100.4932753292342!3d13.651492102618446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e2a25190ed099b%3A0x7dd390d43a0854da!2z4Lit4Liy4LiE4Liy4Lij4LmA4Lij4Li14Lii4LiZ4Lij4Lin4LihIDIg4LmB4LiC4Lin4LiHIOC4muC4suC4h-C4oeC4lCDguYDguILguJUg4LiX4Li44LmI4LiH4LiE4Lij4Li4IOC4geC4o-C4uOC4h-C5gOC4l-C4nuC4oeC4q-C4suC4meC4hOC4oyAxMDE0MA!5e0!3m2!1sth!2sth!4v1548779076239" 
      width="100%" 
      height="300" 
      frameborder="0" 
      style="border:0" 
      allowfullscreen>
    </iframe>
  </div>
</template>

<script>
export default {
  name: "GoogleMap",
  data() {
    return {
      // default to Montreal to keep it simple
      // change this to whatever makes sense
      center: { lat: 45.508, lng: -73.587 },
      markers: [],
      places: [],
      currentPlace: null
    };
  },

  mounted() {
    this.geolocate();
  },

  methods: {
    // receives a place object via the autocomplete component
    setPlace(place) {
      this.currentPlace = place;
    },
    addMarker() {
      if (this.currentPlace) {
        const marker = {
          lat: this.currentPlace.geometry.location.lat(),
          lng: this.currentPlace.geometry.location.lng()
        };
        this.markers.push({ position: marker });
        this.places.push(this.currentPlace);
        this.center = marker;
        this.currentPlace = null;
      }
    },
    geolocate: function() {
      navigator.geolocation.getCurrentPosition(position => {
        this.center = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
      });
    }
  }
};
</script>